@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #2a2a2a;
  color: #ffffff;
  text-align: center;
}

.order-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;

  .order-btns {
    margin-top: 10px;
  }

  .card {
    background-color: #ffffff;
    width: 250px;
    margin: 20px;
    text-align: left;
    border-radius: 4px;

    span {
      display: block;
    }

    a {
      text-decoration: none;
    }
  }
}

#view {
  h1 {
    margin-top: 50px; 
    margin-bottom: 50px;
  }
  #itembtns {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    button {
      flex-grow: 2;
      margin: 0px 10px 0px 10px;
    }
  }
}
